:root {
    --main-background-color: rgb(246, 247, 248);
    --main-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --border-color: rgb(238, 238, 238);
    --border-radius: 8px;
    --menu-bar-color: rgb(42, 54, 71);
}

.d-none {
    display: none !important;
}

::placeholder,
textarea,
input {
    font-family: var(--main-font);
    border-radius: var(--border-radius);
    font-size: 20px;
}

* {
    margin: 0;
}

body {
    font-family: var(--main-font);
    background-color: var(--main-background-color);
    font-size: 20px;
}

main {
    margin: 50px 0 0 306px;
}

main h1 {
    margin-bottom: 50px;
}

.add-task-container {
    display: flex;
    gap: 100px;
}

.line {
    height: 440px;
    width: 2px;
    background-color: rgb(232, 233, 233);
}

.add-task-left,
.add-task-right {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 440px;
}

.gap8 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.w-440 {
    width: 440px;
}

.arrow-drop-down {
    position: absolute;
    right: 0;
}

.assigned-to,
.category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--border-color);
    background-color: white;
    min-height: 48px;
    position: relative;
    border-radius: var(--border-radius);
}

.category-container,
.assigned-to-container {
    width: 440px;
    cursor: pointer;
    position: relative;
}

.drop-down-hidden {
    display: flex;
    flex-direction: column;
    background-color: white;
    cursor: pointer;
    position: absolute;
    width: 100%;
    z-index: 1;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.drop-down-hidden span {
    padding: 20px 0 8px 16px;
}

.drop-down-hidden span:hover {
    background-color: gray;
}

.ht48 {
    height: 48px;
    box-sizing: border-box;
}

.border {
    border: 2px solid var(--border-color);
    outline: unset;
}

.add-task-subtask {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-container {
    position: relative;
    width: 300px;
}

.input-container input {
    width: 100%;
    height: 48px;
}

.add-task-textarea {
    min-height: 168px;
    max-height: 168px;
    max-width: 418px;
    min-width: 418px;
}

.pl16 {
    padding-left: 16px;
}

.pr16 {
    padding-right: 16px;
}

.bold {
    font-weight: bold;
}

.prio {
    width: 440px;
    display: flex;
    gap: 16px;
}

.prio button {
    font-size: 21px;
    border: 2px var(--border-color);
    border-radius: var(--border-radius);
    background-color: white;
    padding: 16px 0px 16px 0px;
    flex: 1;
    cursor: pointer;

    &:hover {
        box-shadow: 0px 4px 7px gray;
    }

}

.prio button img {
    height: 12px;
    width: 20px;
    margin-left: 8px;
}

.send-btn-container {
    margin-top: 90px;
    text-align: right;
}

.add-task-btn {
    border: unset;
    background-color: white;
    width: 126px;
    height: 56px;
    border-radius: var(--border-radius);
    margin-left: 16px;
    cursor: pointer;
    border: 1px solid black;
    transition: all 125ms ease-in-out;

    &:hover {
        color: rgb(41, 171, 227);
        border-color: rgb(41, 171, 227);
    }
}

.btn-create {
    background-color: var(--menu-bar-color);
    color: white;
    transition: all 125ms ease-in-out;
    font-weight: bold;
    width: 183px !important;

    &:hover {
        background-color: rgb(41, 171, 227);
        color: white;
    }
}

.btn-create img {
    height: 10px;
}

.send-btn-container span {
    font-size: 12px;
}

.urgent {
    background-color: rgb(255, 60, 0) !important;
    color: white;
}

.medium {
    background-color: rgb(255, 170, 0) !important;
    color: white;
}

.low {
    background-color: rgb(121, 227, 41) !important;
    color: white;
}

.new-subtask-container {
    position: absolute;
    font-size: 14px;
    width: 440px;
    overflow-y: auto;
    max-height: 100px;
}

.new-subtask-container ul li {
    margin-top: 8px;
}

.required-text {
    margin-top: 100px;
    font-size: 12px;
}

#subtask-img-container {
    position: absolute;
    right: 0;
    margin-right: 16px;
}

.delete-input-subtask-x,
.add-subtask-check {
    cursor: pointer;
}

.subtask-check-delete-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.new-subtask-added{
    padding: 4px 0px 4px 32px;
    margin-left:-35px;
    margin-top: 8px;    
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.new-subtask-added:hover{
    transition: all 125ms ease-in-out;
    background-color: gray;
    border-radius: var(--border-radius)
    
}

.subtask-icons{
    margin-right:16px;
  cursor: pointer;
}

#edit-input{
    height:24px;
    width:300px;
    font-size:14px;
}