body,html {
    margin: 0;
    font-family: 'Inter';
    overflow-x: hidden;
}

.content {
    display: flex;
    flex-direction: column;
}

.contacts {
    overflow: auto;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 232px;
    padding-top: 20px;
    width: 456px;
    height: 100vh;
    background-color: white;
    box-shadow: 10px 0 20px -20px rgba(115, 115, 115, 0.75);
}

.contacts button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 352px;
    height: 56px;
    background-color: #2A3647;
    border: 0;
    border-radius: 10px;
    color: white;
    font-size: 21px;
    font-weight: 700;
}

.contacts button:hover {
    cursor: pointer;
    background-color: #29ABE2;
    box-shadow: 0 4px 2px 2px rgba(0, 0, 0, 0.3);
}

.contactsData {
    z-index: 9;
    color: black;
    margin-top: 20px;
    margin-left:-50px;
    padding: 20px;
    gap: 25px;
    display:flex;
    align-items: center;
}

.contact {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
}

.contact div p {
    margin: 0;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #007BFF;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.container {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-dim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    transition: background-color 1s ease-in-out;
    display:flex;
    justify-content: center;
    align-items: center;
}


.pop-up-100vh{
    z-index:99;
    padding-left:70px;
    transform: translateX(0%);
    transition: transform 1s ease-in-out;
    box-sizing: border-box;
}

.pop-up-hidden{
    transform: translateX(100%);
}

.name-email-container{
    display: flex;
    gap:8px;
    flex-direction: column;
}


.hidden {
    display: none;
}

.slide-in {
    position: fixed;
    right: -300px;
    top: 300px;
    width: 300px;
    height: 100%;
    background-color: #F5F5F5;
    transition: right 0.3s ease;
}

.slide-in.active {
    right: 550px; 
}

.contactsData {
    cursor: pointer;
}

.name-email-container {
    margin-left: 10px;
}

.contactCard {
    margin-top: 50px;
    margin-left: 750px;
}

.contactsHeadline {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.contactsHeadline p{
    font-size: 27px;
    font-weight: 400;
}

.contactsHeadline h2 {
    font-size: 61px;
    font-weight: 700;
}

.contactsHeadline .blueBar {
    width: 3px; 
    height: 60px;
    border-radius: 50px;
    background-color: #29ABE2; 
}