:root {
    --background-color-body: rgba(245, 245, 245, 1);
    --background-color-main: rgba(42, 54, 71, 1);
    --background-color-white: rgba(255, 255, 255, 1);
    --background-color-active: rgba(9, 24, 47, 1);
    --background-color-hover-menu-sidebar: rgba(9, 24, 47, 1);
    --background-color-lightBlue: rgba(41, 171, 226, 1);
    --background-color-lightGray: rgba(217, 217, 217, 1);

    --white: rgba(255, 255, 255, 1);
    --lightBlue: rgba(41, 171, 226, 1);
    --style: rgba(209, 209, 209, 1);

    --font-size: ;
}



.contactOverlayContainer {
    width: 1212px;
    height: 592px;
    border-radius: 30px;
    background-color: var(--background-color-white);
    display: flex;
    box-sizing: border-box;
    z-index: 9999;
}

/* Left Side */

.contactOverlayLeft {
    height: 592px;
    border-radius: 30px 0 0 30px;
    background-color: var(--background-color-main);
    color: var(--white);
    padding: 192px 46px 66px 46px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.adjustContactText {
    height: 89px;
    font-size: 61px;
    font-weight: 700;
    margin-top: 16px;
}

.adjustContactTextSecondLine {
    font-size: 27px;
    line-height: 32.4px;
    margin-bottom: 16px;
    margin-top: -56px;
}

.adjustContact {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
}

.adjustContact::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(0%);
    width: 50px;
    border-bottom: 3px solid var(--lightBlue);
}

/* Right Side */

.contactContainer {
    height: 592px;
    border-radius: 0 30px 30px 0;
    background-color: var(--background-color-white);
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.contactOverlayInitials {
    width: 120px;
    height: 120px;
    margin: 217px 72px 0 0;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactEdit {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 57px;
    margin-right: 66px;
}

.contactEditClose {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    margin-right: -24px;
    cursor: pointer;
    background-color: var(--background-color-white);
}

.contactEditClose:hover {
    background-color: var(--background-color-lightGray);
}

.inputContainer {
    display: flex;
    align-items: center;
}

.inputContainerIcon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -45px;
}

.contactEdit input {
    width: 380px;
    height: 24px;
    border-radius: 10px;
    font-size: 20px;
    padding: 13px 21px;
    border: 1px solid var(--style);
    gap: 10px;
}

::placeholder {
    color: var(--style);
}

.contactEdit input:focus {
    border: 1px solid var(--background-color-lightBlue);
    outline: none;
}

.contactButtonContainer {
    display: flex;
    gap: 25px;
    margin-top: 48px;
}

.contactButtonBorder {
    border-radius: 8px;
    border: 1px solid rgba(42, 54, 71, 1);
    background-color: var(--background-color-white);
    font-size: 21px;
    line-height: 25.2px;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px;
    cursor: pointer;
}

.contactButtonBorder:hover {
    border-color: var(--background-color-lightBlue);
    color: var(--lightBlue);
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    stroke: var(--background-color-lightBlue);
    fill: var(--background-color-lightBlue);
}

.contactButtonFull {
    background-color: var(--background-color-main);
    color: var(--white);
    font-weight: 700;
    padding: 16px;
}

.contactButtonFull:hover {
    background-color: var(--background-color-lightBlue);
    border-color: var(--background-color-lightBlue);
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    color: var(--white);
}

.iconDiv {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dNone {
    display: none;
}
