body,
html {
    margin: 0;
    font-family: 'Inter';
    overflow-x: hidden;
    overflow-y: hidden;
}

.content {
    display: flex;
    flex-direction: column;
}

.contacts {
    overflow-y: auto;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 232px;
    padding-top: 20px;
    width: 456px;
    height: 100vh;
    background-color: white;
    box-shadow: 10px 0 20px -20px rgba(115, 115, 115, 0.75);
}

.contacts button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 352px;
    min-height: 56px;
    background-color: #2A3647;
    border: 0;
    border-radius: 10px;
    color: white;
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 32px;
}

.contacts button:hover {
    cursor: pointer;
    background-color: #29ABE2;
    box-shadow: 0 4px 2px 2px rgba(0, 0, 0, 0.3);
}

.contactsData {
    z-index: 9;
    color: black;
    margin-top: 20px;
    margin-left: -25px;
    padding: 20px;
    gap: 25px;
    display: flex;
    align-items: center;
}

.contactsData:hover{
    background:  linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.07));
    border-radius: 8px;
}

.contactsData.active {
    background-color: #2A3647;
    border-radius: 8px;
    color: white;
}

.contact {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
}

.contact div p {
    margin: 0;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #007BFF;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 400;
    font-size: 12px;
    border: 2px solid white;
}

.container {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-dim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    transition: background-color 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}


.pop-up-100vh {
    z-index: 99;
    transform: translateX(0%);
    transition: transform 1s ease-in-out;
    box-sizing: border-box;
}

.pop-up-hidden {
    transform: translateX(100%);
}

.name-email-container {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.slide-in {
    position: absolute; 
    right: -100%;
    top: 200px;
    width: 100%;
    background-color: #F5F5F5;
    transition: all 0.3s ease;
}

.slide-in.active {
    right: 0%;
}

.contactsData {
    cursor: pointer;
}

.name-email-container {
    margin-left: 10px;
}

.contactCard {
    position: relative;
    margin-left: 750px;
    height:100vh;
}

.contactsHeadline {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.contactsHeadline p {
    font-size: 27px;
    font-weight: 400;
}

.contactsHeadline h2 {
    font-size: 61px;
    font-weight: 700;
}

.contactsHeadline .blueBar {
    width: 3px;
    height: 60px;
    border-radius: 50px;
    background-color: #29ABE2;
}

.circleContactCard {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 46px;
    font-weight: 500;
    min-width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 2px solid white;
}

.contactCardName {
    display: flex;
    align-items: center;
    gap: 54px;
}

.contactName {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contactName p {
    margin: 0;
    font-size: 47px;
    font-weight: 500;
}

.contactNameEdit {
    display: flex;
    gap: 40px;
}

.contactNameEdit span {
    font-size: 16px;
    font-weight: 400;
}

.contactNameEdit span:hover {
    cursor: pointer;
}

.contactCardInfo {
    font-size: 20px;
    font-weight: 400;
}

.contactCardEmail {
    font-size: 16px;
}

#contact-details {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.blue {
    color: #007CEE;
}

.d-none{
    display:none;
}

.edit-del-btn:hover span {
    color: #29ABE2;
}

.edit-del-btn:hover svg path {
    fill: #29ABE2;
}

.edit-del-btn:hover {
    cursor: pointer;
}

.edit-del-btn span {
    font-size: 20px;
    font-weight: 400;
    color: #2A3647;
}

.edit-del-btn {
    display: flex;
    align-items: center;
}

.edit-del-btn svg{
   margin-left:8px;
}

.contact-header{
    width:352px;
}

.contact-header h2{
    padding-left:28px;
}

.contact-group{
    padding-left: 24px;
}


#round-add-contact {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #2A3647;
    border: none;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#round-add-contact img {
    width: 50%;
    height: 50%;
    object-fit: contain;
}
