/* Link zum Einbinden */
/* <link rel="stylesheet" href="./style/global.css"> */

/* Ich werde das hier nach und nach bearbeiten und erweitern */


:root {
    --background-color-body: rgba(245, 245, 245, 1);
    --background-color-main: rgba(42, 54, 71, 1);
    --background-color-white: rgba(255, 255, 255, 1);
    --background-color-active: rgba(9, 24, 47, 1);
    --background-color-lightBlue: rgba(41, 171, 226, 1);
    --background-color-lightGray: rgba(217, 217, 217, 1);

    --background-color-technical-task: rgba(31, 215, 193, 1);
    --background-color-user-story: rgba(0, 56, 255, 1);

    --background-color-hover-menu-sidebar: rgba(56, 72, 95, 1);

    --background-color-urgent-and-arrow: rgba(255, 61, 0, 1);
    --background-color-medium-and-arrow: rgba(255, 168, 0, 1);
    --background-color-low-and-arrow:  rgba(122, 226, 41, 1);

    --border1px: 1px solid;
    --border2px: 2px solid;

    --border-light-gray: rgba(209, 209, 209, 1);
    --border-light-blue: rgba(41, 171, 226, 1);

    --shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);



    --white: rgba(255, 255, 255, 1);
    --lightBlue: rgba(41, 171, 226, 1);
    --style: rgba(209, 209, 209, 1);
    --mainText-color: rgba(0, 0, 0, 1);

    --font-size: ;
}

