body {
    background-color: rgba(246, 247, 248, 1);
    margin: 0;
    font-family: "Inter";
    font-weight: 400;
}

.contentContainer {
    width: fit-content;
    height: auto;
    margin: 110px 0 0 328px;
    display: flex;
    flex-direction: column;
}

.titleContainer {
    width: fit-content;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    font-size: 27px;
    line-height: 32.4px;
}

.titleJoin {
    font-size: 61px;
    font-weight: 700;
}

.mainContent {
    width: fit-content;
    height: auto;
    margin-top: 56px;
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: center;
}

.mainContainer {
    width: 560px;
    height: 562px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mainTopContainer {
    width: 560px;
    height: 168px;
    display: flex;
    justify-content: space-between;
}

.pencilCheckRectangleContainer {
    width: 264px;
    height: 168px;
    background: white;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 38px 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    cursor: pointer;
}

.pencilCheckRectangle {
    width: 69px;
    height: 69px;
    border-radius: 50%;
    background-color: rgba(42, 54, 71, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.pencilCheckRectangleContainer:hover {
    transform: scale(1.1);
    background-color: rgba(42, 54, 71, 1);
    color: white;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    animation-timing-function: ease-in-out;
    animation-duration: 100ms;
}

.pencilCheckRectangleContainer:hover .pencilCheckRectangle {
    background-color: white;
}

.pencilCheckRectangleContainer:hover .pencilCheckRectangle svg path {
    stroke: rgba(42, 54, 71, 1);
}

.pencilCheckRectangleContainer:first-child svg path {
    stroke-width: 0;
}

.pencilCheckRectangleContainer:first-child:hover .pencilCheckRectangle svg path {
    fill: rgba(42, 54, 71, 1);
}

.pencilCheckRectangleContainer:nth-child(2):hover .pencilCheckRectangle svg path {
    stroke: rgba(42, 54, 71, 1);
}

.counterContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.counter {
    font-size: 64px;
    font-weight: 600;
}

.counterDescription {
    font-size: 20px;
    text-align: center;
}

/* Grundstil für SVG */
svg {
    width: 38px;
    height: 30px;
}

/* Grundstil für SVG-Pfad */
svg path {
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.counterContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.counter {
    font-size: 64px;
    font-weight: 600;
}

.counterDescription {
    font-size: 20px;
    text-align: center;
}

.mainMiddleContainer {
    width: 560px;
    height: 170px;
    background: white;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    padding: 28px 48px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.mainMiddleContainer:hover {
    transform: scale(1.07);
    background-color: rgba(42, 54, 71, 1);
    color: white;
    animation-timing-function: ease-in-out;
    animation-duration: 100ms;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.urgentContainer {
    width: 130px;
    height: 96px;
    display: flex;
    align-items: center;
    gap: 18px;
}

.urgentContainer img {
    width: 60px;
    height: 60px;
}

.urgentCounterContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.urgentCounter {
    font-size: 64px;
    font-weight: 600;
}

.urgentCounterDescription {
    font-size: 16px;
    text-align: center;
}

.urgentDeadlineContainer {
    width: 178px;
    height: 57px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.urgentDeadlineDate {
    font-size: 21px;
    font-weight: 700;
}

.urgentDeadlineDateDesription {
    font-size: 16px;
}

.mainBottomContainer {
    width: 560px;
    height: 170px;
    display: flex;
    justify-content: space-between;
}

.tasksContainer {
    width: 168px;
    height: 168px;
    background: white;
    border-radius: 30px;
    padding: 25px 0;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tasksContainer:hover {
    transform: scale(1.1);
    background-color: rgba(42, 54, 71, 1);
    color: white;
    animation-timing-function: ease-in-out;
    animation-duration: 100ms;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.tasksCounterContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tasksCounter {
    font-size: 64px;
    font-weight: 600;
    line-height: 76.8px;
}

.tasksCounterDescription {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.userContainer {
    width: 385px;
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.userGreeting {
    font-weight: 500;
    font-size: 47px;
    line-height: 56.4px;
}

.userGreetingName {
    font-weight: 700;
    font-size: 64px;
    color: rgba(41, 171, 226, 1);
}
