.section {
    width: 252px;
    margin-bottom: 16px;
    min-height: 0px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1450px) {
    article {
        flex-wrap: wrap;
    }

    .section {
        width: 252px;
        display: flex;
        flex-direction: column;
    }

    .flex1450section {
        flex-direction: column;
        height: fit-content;
        width: -webkit-fill-available;
    }

    .text {
        display: flex;
        justify-content: space-between;
        width: 288px;
        height: 30px;
        font-weight: bold;
    }

    .task-smallview-container {
        min-height: 30px;
        overflow-y: hidden;
        min-width: -webkit-fill-available;
        display: flex;
        flex-direction: row;
        gap: 8px;
        box-sizing: border-box;
        padding: 8px 0;
        position: relative;
    }

    .drop-down-menu-mobile-board {
        position: absolute;
        top: 0;
        right: 0;
        margin: 60px 16px 0 0;

    }

    .task-smallview {
        display: flex;
        flex-direction: column;
        gap: 8px;
        box-sizing: border-box;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 20px;
        border-radius: 10px;
        background-color: white;
        margin: 0;
        cursor: pointer;
        width: 252px !important;
    }

    .text {
        width: 288px;
        align-items: center;
    }

    .task-smallview-container {
        min-height: 30px;
        margin: 0;
    }
}

@media (max-width: 1025px) {
    main {
        margin: 96px 16px;
    }

    #done-container {
        margin-bottom: 200px;
    }

    .board-title {
        font-size: 47px;
    }

    .text {
        font-size: 27px;
    }

    .task-smallview-container {
        min-height: 50px;
    }

    .media-add-task {
        position: relative;
    }

    .board-title-button {
        padding-right: 0;
    }

    .right-section {
        padding-top: 32px;
        gap: 0px;
    }

    .add-task {
        display: none;
    }

    .search-bar {
        width: 396px;
        flex-shrink: 0;
    }

    .header {
        display: flow;
    }

    .media-add-task {
        display: block;
        flex-shrink: 0;
    }

    .board-title-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 20px;
        width: 396px;
    }

    .text {
        width: 288px;
    }
}

@media (max-width: 960px) {
    article {
        display: flex;
        padding-top: 40px;
        gap: 16px;
        box-sizing: border-box;
    }
}



@media (max-width: 760px) {
    .header {
        padding: 0px;
        width: 288px;
    }

    .search-bar {
        width: 288px;
    }

    .board-title-button {
        /* padding-left: 10px; */
        width: 288px;
    }

    .task-smallview-container {
        min-height: 30px;
        overflow-y: hidden;
        min-width: -webkit-fill-available;
        display: flex;
        flex-direction: row;
        /* gap: 8px; */
        box-sizing: border-box;
        padding: 8px 0;
    }
}

@media (max-width: 560px) {
    main {
        /* margin: 96px 0px; */
        box-sizing: border-box;
        padding: 0px 8px;
    }

    .drop-down-tasks-container {
        display: block;
    }
}

@media (max-width: 360px) {}