@media (min-width: 1278px) {
    #round-add-contact {
        display: none;
    }
}

@media (max-width: 1278px) {
    .contactsHeadline {
        flex-direction: column;
        gap: 0px
    }

    .contacts-slogan {
        margin-top: -50px;
        padding: 0px;
    }

    .contactsHeadline .blueBar {
        width: 90px;
        height: 3px;
        margin-top: 10px; 
    }

    .contactsHeadline {
        align-items: flex-start;
    }

    #round-add-contact {
        display: none;
    }
}

@media (max-width: 1125px) {
    #round-add-contact {
        display: none;
    }
}

@media (max-width: 1025px) {
    .contacts {
        width: 50%;
        margin: 0;
    }

    .contactCard {
        margin-left: 550px;
    }
}

@media (max-width: 820px) {
    .contacts {
        width: 100%;
        margin: 0;
    }

    #round-add-contact {
        background-color: var(#2A3647);
        bottom: 70px;
    }

    .contactsHeadline {
        display: none;
    }

    .contacts button {
        display: none;
    }

    #round-add-contact {
        display: flex;
    }

    #contact-details {
        display: none;
    }
}
