@media (max-width: 1000px) {
    @keyframes logoAnimation {
        0% {
            position: absolute;
            top: 70%;
            left: 70%;
            transform: translate(-50%, -50%);
            width: 50vw;
            height: 50vh;
        }

        30% {
            position: absolute;
            top: 70%;
            left: 70%;
            transform: translate(-50%, -50%);
            width: 50vw;
            height: 50vh;
        }

        100% {
            position: absolute;
            top: 40px;
            left: 40px;
            transform: translate(0, 0);
            width: 100px;
            height: 80px;
        }
    }

    .joinLogo svg {
        height: 90px;
    }
}

@media (max-width: 680px) {
    .register {
        top: 740px;
        right: 30%;
    }

    .logIn form {
        width: 500px;
    }

    .signUp form {
        width: 400px;
    }

    .signUp h2 {
        font-size: 40px;
    }

    .signUp h2::after {
        width: 100px;
        top: 55px;
    }

    .previousPage {
        gap: 80px;
    }

    .input-container {
        width: 340px;
    }
}

@media (max-width: 520px) {
    @keyframes logoAnimation {
        0% {
            position: absolute;
            top: 70%;
            left: 60%;
            transform: translate(-50%, -50%);
            width: 50vw;
            height: 50vh;
        }

        30% {
            position: absolute;
            top: 70%;
            left: 60%;
            transform: translate(-50%, -50%);
            width: 50vw;
            height: 50vh;
        }

        100% {
            position: absolute;
            top: 30px;
            left: 10px;
            transform: translate(0, 0);
            width: 100px;
            height: 90px;
        }
    }

    .background {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #2A3647;
        animation: reduceBackgroundBlue 1s linear forwards;
    }

    @keyframes reduceBackgroundBlue {
        0% {
            opacity: 1;
            background: #2A3647;
            z-index: 999999999;
        }

        40% {
            opacity: 1;
            background: #2A3647;
            z-index: 999999999;
        }

        100% {
            opacity: 0;
            background: #F6F7F8;
            z-index: -1;
        }
    }

    .logoFill {
        position: absolute;
        animation: colorSwitchLogo 1s linear forwards;
    }

    @keyframes colorSwitchLogo {
        0% {
            fill: white;
            z-index: 9999999999;
        }

        40% {
            fill: white;
            z-index: 9999999999;
        }

        100% {
            fill: #2A3647;
        }
    }

    .register {
        top: 540px;
        right: 14%;
        position: unset;
    }

    .logIn form {
        width: 300px;
        height: 400px;
        gap: 0;
    }

    .logIn {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .input-container {
        width: 260px;
        height: 30px;
    }

    h2 {
        font-size: 40px;
    }

    h2::after {
        top: 60px;
        width: 80px;
    }

    .loginButton {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .input-container img {
        margin-left: -10px;
    }

    footer {
        bottom: 20px;
    }

    .overlay {
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 420px) {
    .signUp form {
        width: 300px;
    }

    .signUp h2 {
        font-size: 40px;
    }

    .previousPage {
        gap: 40px;
    }

    .signUp h2::after {
        width: 100px;
        top: 55px;
    }
}

@media (max-height: 750px) {
    @keyframes logoAnimation {
        0% {
            position: absolute;
            top: 70%;
            left: 60%;
            transform: translate(-50%, -50%);
            width: 50vw;
            height: 50vh;
        }

        30% {
            position: absolute;
            top: 70%;
            left: 60%;
            transform: translate(-50%, -50%);
            width: 50vw;
            height: 50vh;
        }

        100% {
            position: absolute;
            top: 30px;
            left: 10px;
            transform: translate(0, 0);
            width: 100px;
            height: 42px;
        }
    }

    .signUp form {
        height: 450px;
    }

    .input-container {
        margin-top: 15px;
        margin-bottom: 0px;
    }

    .registerInput {
        height: 240px;
    }

    .logIn form {
        gap: 15px;
    }

    .signBtn {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .joinLogo svg {
        height: 40px;
    }
}