@media (min-width: 1361px) {
    .titleContainer1360,
    .title1360,
    .userContainer1360 {
        display: none;
    }
}

@media (max-width: 1360px) {
    .titleContainer {
        display: none;
    }

    .titleContainer1360 {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        font-size: 27px;
        position: relative;
        box-sizing: border-box;
        padding-right: 16px;
    }

    .titleContainer1360::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 5px;
        right: 0px;
        transform: translateX(0%);
        height: 100%;
        border-right: 3px solid rgba(41, 171, 226, 1);
    }

    .titleJoin {
        margin-bottom: -20px;
    }

    .userContainer {
        width: 228px;
        height: 120px;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: end;
        margin-left: -228px;
        margin-right: 0;
    }

    .userGreeting {
        font-weight: 500;
        font-size: 20px;
    }

    .userGreetingName {
        font-weight: 700;
        font-size: 27px;
        color: rgba(41, 171, 226, 1);
        margin-top: -14px;
    }

    .mainContent {
        gap: 40px;
    }
}

@media (max-width: 1160px) {
    .userContainer1360 {
        display: none;
    }

 
}

@media (max-width: 1025px) {
    .contentContainer {
        margin: 48px auto 16px auto;
    }
    
}

@media (max-width: 960px) {
    .mainContainer,
    .mainTopContainer,
    .mainBottomContainer {
        max-width: 560px;
        height: fit-content;
        gap: 16px;
    }

    .pencilCheckRectangleContainer {
        width: 264px;
        height: 168px;
        padding: 38px 19px;
        gap: 18px;
        border-radius: 30px;
    }

    .pencilCheckRectangle svg {
        width: 30px;
        height: 30px;
    }

    .pencilCheckRectangleContainer:hover {
        transform: scale(1.05);
        background-color: rgba(42, 54, 71, 1);
        color: white;
        box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
        animation-timing-function: ease-in-out;
        animation-duration: 100ms;
    }

    .mainMiddleContainer {
        width: 560px;
        height: 170px;
        border-radius: 30px;
        gap: 61px;
    }

    .mainMiddleContainer img {
        height: 98px;
        width: 2px;
    }

    .counter {
        font-size: 64px;
        font-weight: 600;
    }
    .urgentCounterDescription,
    .urgentDeadlineDateDesription {
        font-size: 16px;
        font-weight: 400;
    }

    .urgentDeadlineContainer {
        gap: 13px;
        width: 178px;
        height: 57px;
    }

    .urgentDeadlineDate {
        font-size: 21px;
        font-weight: 700;
    }

    .pencilCheckRectangle,
    .urgentContainer img {
        width: 60px;
        height: 60px;
    }

    .tasksContainer {
        width: 168px;
        height: 168px;
    }
}

@media (max-width: 760px) {
    .mainContainer,
    .mainTopContainer,
    .mainBottomContainer {
        max-width: 396px;
        height: fit-content;
        gap: 16px;
    }

    .userContainer{
        display: none;
    }

    .fadeOverlayBg {
        display: flex;
    }

    .titleContainer1360 {
        font-size: 20px;
    }

    .titleContainer1360::after {
        content: "";
        left: 0;
        width: 90px;
        height: 3px;
        top: 112px;
        transform: translateX(0%);
        border-bottom: 3px solid rgba(41, 171, 226, 1);
        border-right: none;
    }

    .pencilCheckRectangleContainer {
        width: 186px;
        height: 110px;
        padding: 28px 15px;
        gap: 10px;
        border-radius: 20px;
    }

    .pencilCheckRectangle svg {
        width: 50%;
    }

    .mainMiddleContainer {
        max-width: 396px;
        height: 110px;
        border-radius: 20px;
        gap: 20px;
    }

    .mainMiddleContainer img {
        height: 68px;
        width: 2px;
    }

    .tasksContainer {
        width: 168px;
        height: 168px;
        padding: 25px 0;
        gap: 18px;
        border-radius: 30px;
    }

    .counter {
        font-size: 47px;
        font-weight: 600;
    }
.counterDescription,
    .urgentCounterDescription,
    .urgentDeadlineDateDesription {
        font-size: 14px;
        font-weight: 400;
    }

    .urgentDeadlineContainer {
        gap: 8px;
        width: 135px;
        height: 44px;
    }

    .urgentContainer {
        height: 96px;
        display: flex;
        align-items: center;
        gap: 18px;
    }

    .urgentDeadlineDate {
        font-size: 16px;
        font-weight: 700;
    }

    .pencilCheckRectangle,
    .urgentContainer img {
        width: 40px;
        height: 40px;
    }

    .pencilCheckRectangle svg {
        width: 40%;
    }

    .tasksContainer {
        width: 130px;
        height: 130px;
        padding: 20px 0;
        gap: 18px;
        border-radius: 30px;
    }
}

@media (max-width: 560px) {
    .contentContainer {
        margin: 16px auto;
    }

    .titleJoin {
        font-size: 47px;
    }

    .titleContainer1360 {
        font-size: 20px;
    }

    .titleContainer1360::after {
        content: "";
        left: 0;
        width: 90px;
        height: 3px;
        top: 96px;
        transform: translateX(0%);
        border-bottom: 3px solid rgba(41, 171, 226, 1);
        border-right: none;
    }

    .mainContent {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    .mainContainer,
    .mainTopContainer,
    .mainBottomContainer {
        max-width: 280px;
        height: fit-content;
        gap: 12px;
    }

    .pencilCheckRectangleContainer {
        width: 140px;
        height: 85px;
        padding: 20px 10px;
        gap: 8px;
        border-radius: 15px;
    }

    .pencilCheckRectangle {
        width: 40px;
        height: 40px;
    }

    .pencilCheckRectangle svg {
        width: 50%;
    }

    .mainMiddleContainer {
        max-width: 280px;
        height: 90px;
        border-radius: 15px;
    }

    .mainMiddleContainer img {
        height: 40px;
        width: 2px;
    }

    .tasksContainer {
        width: 100px;
        height: 100px;
        padding: 15px 0;
        gap: 10px;
        border-radius: 20px;
    }

    .counter {
        font-size: 30px;
        font-weight: 600;
    }

    .urgentCounterDescription,
    .urgentDeadlineDateDesription {
        font-size: 10px;
        font-weight: 400;
    }

    .counterDescription {
        font-size: 12px;
        text-align: center;
    }

    .urgentContainer {
        height: 60px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .urgentDeadlineDate {
        font-size: 12px;
        font-weight: 700;
    }

    .urgentDeadlineContainer {
        gap: 5px;
        width: fit-content;
        height: 30px;
    }

    .pencilCheckRectangle,
    .urgentContainer img {
        width: 30px;
        height: 30px;
    }

    .pencilCheckRectangle svg {
        width: 30%;
    }

    .tasksContainer {
        width: 80px;
        height: 80px;
        padding: 20px 0;
        gap: 10px;
        border-radius: 15px;
    }

}
